.productSection{
    position: relative;
    width: 100%;
    max-width: 1248px;
    margin: auto;
}
.productShowSection{
    display: flex;
    justify-content: space-between;
}
.sectionHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 20px;
    margin-bottom: 36px;
    border-top: 1px 
    #E5E5E5 solid;
    border-bottom: 1px 
    #E5E5E5 solid;
}
.leftSectionHeader{
    display: flex;
}
.showFilter{
    margin-left: 80px;
    text-decoration: underline;
}

.rigthSectionHeader select{
    border: 0;
    padding: 10px 10px;
}
.rigthSectionHeader option {
    font-size: 18px;
}

.products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}